<!DOCTYPE html>
<html>
 
<head>
    <title>Sentimiento</title>
    <link rel="stylesheet" href="/stylesheets/results.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
 
<body>
    <div class="outer">
        <nav>
            <p><a class="brand" href="/">Sentimiento</a></p>
            <p><a class="anchor" href="/">Topic Analysis</a></p>
        </nav>
        <div class="form-outer">
            <form action="/user" method="POST">
                <input id="username" required name="username" placeholder="Enter username" type="text">
                <button>Get results</button>
              </form>
        </div>
        <div class="profile">
            <img style="padding-right:12px; width:50px; height:50px" src="<%= timg %>" alt="">
            <div>
                <h2 style="margin-top:0px; margin-bottom:0px;"><%= tname %></h2>
            <small style="margin-bottom:16px;"><%= username %></small>
            </div>
        </div>
            
            
  
        <p><i style="padding-right:12px;" class="bi bi-geo-alt-fill"></i><%= tlocation %></p>
        
        <h2 style="padding-top:32px;">Results are</h2>
        <h1 class="result"><%= userCounter %></h1>
        
        

        <div class="scale">
            <h2>Scale for reference</h2>
            <img width="100%" src="/images/scale.svg" alt="">
        </div>
        <div class="extra-info">
            <small>Results after analyzing users recent tweets and retweets</small><br><br>
        <small>Results are different on reload as twitter api is collecting random tweets from this topic</small>
        </div>

        
    </div>
    
</body>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.4.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.4.1/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyC-benVr55jmqm8YAcAdp6P0hSeN-_y33E",
      authDomain: "sentimiento-ab.firebaseapp.com",
      projectId: "sentimiento-ab",
      storageBucket: "sentimiento-ab.appspot.com",
      messagingSenderId: "855861226745",
      appId: "1:855861226745:web:84c8ad8c6d3b44cdedc628",
      measurementId: "G-FJWCXZ20B1"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3793064282873185"
crossorigin="anonymous"></script>
 
</html>  